// ==========================================================================
// Objects / Wrapper

// =======

/**
 * Page-level constraining and wrapping elements.
 */

/* stylelint-disable */
@if (type-of($wrapper-width) != number) {
  @error "`#{$wrapper-width}` needs to be a number."
}
/* stylelint-enable */

.o-wrapper {
  @include clearfix();
  padding-right: $global-spacing-unit;
  padding-left:  $global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $wrapper-width;
}