// ==========================================================================
// Elements / Typography
// ==========================================================================

p {
  @include responsive-font-size($p-font-sizes);
}