// ==========================================================================
// Elements / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in ems, the `line-height` is calculated to exist unitlessly.
// 2. Ensure the page always fills at least the entire height of the viewport.
//
html {
  color: $font-color;
  font-size: rem($global-font-size, 16px); /* [1] */
  font-family: $font-family;
  line-height: $global-line-height; /* [1] */
}

::selection {
  background-color: $selection-background-color;
  color: $selection-text-color;
  text-shadow: none;
}