// ==========================================================================
// Elements / Headings
// ==========================================================================

@mixin h {
  margin-top: 0;
  line-height: $global-line-height;
  font-family: $font-headings;
}

//
// Provide a generic class to apply common heading styles.
//
// @example
//   <p class="u-h"></p>
//
//
.u-h {
  @include h;
}

//
// Styles for headings 1 through 6
//
h1 {
  @extend .u-h;
  @include responsive-font-size($h1-font-sizes);
}

h2 {
  @extend .u-h;
  @include responsive-font-size($h2-font-sizes);
}

h3 {
  @extend .u-h;
  @include responsive-font-size($h3-font-sizes);
}

h4 {
  @extend .u-h;
  @include responsive-font-size($h4-font-sizes);
}

h5 {
  @extend .u-h;
  @include responsive-font-size($h5-font-sizes);
}

h6 {
  @extend .u-h;
  @include responsive-font-size($h6-font-sizes);
}